/* Activity Card */
.activity-card {
    cursor: pointer;
    transition: transform 0.2s ease;
}

    .activity-card:hover {
        transform: translateY(-3px);
    }

.comment-button {
    transition: all 0.2s ease;
}

    .comment-button:hover {
        background-color: var(--bs-primary);
        color: white !important;
        box-shadow: 0 0.5rem 1rem rgba(13, 110, 253, 0.2); /* blue shadow */
    }