@inject NavigationManager Navigation
@inject INotificationStateService NotificationStateService

<a href="/notifications">
    <HeaderIcon>
        <div class="position-relative d-inline-block">
            <i class="fas fa-bell text-dark icon-header nav-link"></i>
            @if (notificationCount > 0)
            {
                <span class="notification-badge position-absolute top-0 start-100 translate-middle">
                    @notificationCount
                </span>
            }
        </div>
    </HeaderIcon>
</a>


@code {
    [Parameter] public string Class { get; set; } = "";
    private int notificationCount;

    protected override void OnInitialized()
    {
        notificationCount = NotificationStateService.UnreadCount;
        NotificationStateService.OnChange += UpdateNotificationCount;
    }

    private void UpdateNotificationCount()
    {
        notificationCount = NotificationStateService.UnreadCount;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NotificationStateService.OnChange -= UpdateNotificationCount;
    }
}