@inject NavigationManager Navigation
@inject INotificationStateService NotificationStateService

<div class="position-relative @Class">
    <i class="fas fa-bell text-dark icon-header" @onclick="OnBellClick"></i>
    @if (notificationCount > 0)
    {
        <span class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-circle">
            @notificationCount
        </span>
    }
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    private int notificationCount;

    protected override void OnInitialized()
    {
        notificationCount = NotificationStateService.UnreadCount;
        NotificationStateService.OnChange += UpdateNotificationCount;
    }

    private void UpdateNotificationCount()
    {
        notificationCount = NotificationStateService.UnreadCount;
        InvokeAsync(StateHasChanged);
    }

    private void OnBellClick()
    {
        Navigation.NavigateTo("/notifications");
    }

    public void Dispose()
    {
        NotificationStateService.OnChange -= UpdateNotificationCount;
    }
}