@if (!string.IsNullOrEmpty(Message))
{
    <div class="toast-container position-fixed top-0 end-0">
        <div class="toast show align-items-center text-bg-danger border-0 toast-animate" role="alert">
            <div class="d-flex">
                <div class="toast-body">
                    @Message
                </div>
                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        @onclick="Dismiss"></button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public EventCallback OnDismiss { get; set; }

    private async Task Dismiss()
    {
        await OnDismiss.InvokeAsync();
    }
}
