.WMBSC {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.goal-card.pressed {
    background-color: #dcdcdc !important;
    transition: background-color 0.2s ease;
}

.goal-card {
    background-color: white !important;
    transition: background-color 0.2s ease;
}