.native-header {
    transition: top 0.5s ease;
    background-color: #ff8000;
    position: fixed;
    height: 52px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    .native-header .page-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
    }

    .native-header.hidden-header {
        top: -70px; /* Adjust based on header height */
    }