.map-container {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: height 0.3s ease, transform 0.3s ease;
}

    .map-container .map {
        transition: transform 0.3s ease;
    }
