@using StriveUp.Shared.DTOs
@inject IJSRuntime JS
@inject ISecurableService securableService
@implements IDisposable

<div class="map-container" id="@mapId"></div>

@code {
    [Parameter] public List<GeoPointDto> Route { get; set; } = new();
    private string mapId = $"map_{Guid.NewGuid().ToString().Replace("-", "")}";
    private IJSObjectReference? module;
    string token;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Route.Count > 1)
        {
            token = await securableService.GetMapboxTokenAsync();
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/staticMap.js");
            await module.InvokeVoidAsync("renderStaticRoute", mapId, Route, token);
        }
    }

    public void Dispose()
    {
        _ = module?.DisposeAsync();
    }
}
