@using StriveUp.Shared.DTOs

<div class="card h-100 text-center medal-item shadow-sm" @onclick="HandleClick">
    <img src="@MedalDto.ImageUrl" alt="@MedalDto.Name" class="card-img-top p-2"/>
    <div class="card-body p-2">
        <small class="card-title text-truncate d-block">@MedalDto.Name</small>
    </div>
</div>

@code {
    [Parameter] public MedalDto MedalDto { get; set; }
    [Parameter] public EventCallback OnMedalClick { get; set; }

    private async Task HandleClick()
    {
        await OnMedalClick.InvokeAsync();
    }
}
