.notification-item {
    cursor: pointer;
    background-color: white !important;
    transition: background-color 0.2s ease-in-out;
}

    .notification-item:hover {
        background-color: #dcdcdc;
    }

    .notification-item.pressed {
        background-color: #dcdcdc !important;
        transition: background-color 0.2s ease;
    }

.unred {
    background-color: #f0f0f0 !important;
}

.notification-icon {
    font-size: 1.2rem;
    margin-right: 10px;
}

.notification-time {
    font-size: 0.85rem;
    color: #6c757d;
}
