.settings-tile.pressed {
    background-color: #f0f0f0 !important;
    transition: background-color 0.2s ease;
}

i {
    font-size: 1.4rem;
}

.settings-tile {
    height: 100%;
    min-height: 60px;
    background-color: white !important;
    transition: background-color 0.2s ease;
}