.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* dark semi-transparent */
    pointer-events: all;
}

.loading-text {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}

.material-spinner {
    width: 60px;
    height: 60px;
    animation: rotate 2s linear infinite;
}

.material-spinner-small {
    width: 30px;
    height: 30px;
    animation: rotate 2s linear infinite;
}

.material-path {
    stroke: #ff8000;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}