@keyframes slideInFade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutFade {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.toast-animate-in {
    color: white;
    animation: slideInFade 0.4s ease-out;
}

.toast-animate-out {
    animation: slideOutFade 0.4s ease-out;
}