<nav class="navbar bg-primary sticky-md-top fixed-bottom">
    <div class="container-fluid flex-column flex-md-row justify-content-center justify-content-md-start align-items-center">
        <a class="navbar-brand text-black d-md-block d-none" href="#">Navbar</a>
        <div class="d-flex justify-content-center justify-content-md-start text-black">
            <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="nav-link text-black" href="counter">
                Counter
            </NavLink>
            <NavLink class="nav-link text-black" href="weather">
                Weather
            </NavLink>
        </div>
    </div>
</nav>
