@inject IAuthService AuthService;
@inject IPlatformService PlatformService

<nav class="navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Left section: Brand + NavLinks -->
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="">
                <img class="logo-image img-fluid" src="images/StriveUp-logo.png" alt="Logo" />
            </a>
            <div class="d-flex">
                <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
                <NavLink class="nav-link text-black" href="feed">
                    Feed
                </NavLink>
                @if (PlatformService.IsNativeApp())
                {
                    <NavLink class="nav-link text-black" href="tracking">
                        Start Activity
                    </NavLink>
                }
            </div>
        </div>

        <!-- Right section: Login -->
        <div class="d-flex">
            <NavLink class="nav-link text-black" href="profile">
                My profile
            </NavLink>
        </div>
    </div>
</nav>

@code {
    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
    }
}

