.medal-item:hover {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.medal-item {
    cursor: pointer;
}

.medal-item img {
    max-height: 120px;
    object-fit: contain;
}