@inject IPlatformService PlatformService
            @if (!PlatformService.IsNativeApp())
            {
<nav class="navbar position-fixed">
    <div class="container-fluid justify-content-between align-items-center">
        <!-- Left section: Brand + NavLinks -->
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="">
                <img class="logo-image img-fluid" src="images/StriveUp-logo.png" alt="Logo" />
            </a>
            <div class="d-flex">
                <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>
        </div>

        <!-- Right section: Login -->
        <div class="d-flex">
            <NavLink class="nav-link text-black" href="login">
                Login
            </NavLink>
        </div>
    </div>
</nav>
            }
