.avatar-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 0px solid #000000;
}

.icon-wrapper {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}