@inject IAuthService AuthService
@inject IPlatformService PlatformService

<!-- Desktop Navbar (fixed top) -->
<nav class="navbar fixed-top d-none d-md-flex">
    <div class="container-fluid d-flex justify-content-between align-items-center px-3">
        <!-- Left Section -->
        <div class="d-flex align-items-center">
            <a class="navbar-brand me-3" href="">
                <img class="logo-image img-fluid" src="images/StriveUp-logo.png" alt="Logo" />
            </a>
            <NavLink class="nav-link me-3" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home icon"></i>
                <span class="small-text">Home</span>
            </NavLink>
            <NavLink class="nav-link me-3" href="feed">
                <i class="fas fa-rss icon"></i>
                <span class="small-text">Feed</span>
            </NavLink>
            @if (PlatformService.IsNativeApp())
            {
                <NavLink class="nav-link me-3" href="tracking">
                    <i class="fas fa-running icon"></i>
                    <span class="small-text">Activity</span>
                </NavLink>
            }
            <NavLink class="nav-link me-3" href="medals">
                <i class="fas fa-medal icon"></i>
                <span class="small-text">Medals</span>
            </NavLink>
        </div>

        <!-- Right Section -->
        <div>
            <NavLink class="nav-link text-end" href="profile">
                <i class="fas fa-user icon"></i>
                <span class="small-text">Profile</span>
            </NavLink>
        </div>
    </div>
</nav>

<!-- Mobile Navbar (fixed bottom) -->
<nav class="navbar fixed-bottom d-flex d-md-none">
    <div class="container-fluid d-flex justify-content-around align-items-center px-2">
        <NavLink class="nav-link text-center" href="" Match="NavLinkMatch.All">
            <i class="fas fa-home icon"></i>
            <span class="small-text">Home</span>
        </NavLink>
        <NavLink class="nav-link text-center" href="feed">
            <i class="fas fa-rss icon"></i>
            <span class="small-text">Feed</span>
        </NavLink>
        @if (PlatformService.IsNativeApp())
        {
            <NavLink class="nav-link text-center" href="tracking">
                <i class="fas fa-running icon"></i>
                <span class="small-text">Activity</span>
            </NavLink>
        }
        <NavLink class="nav-link text-center" href="medals">
            <i class="fas fa-medal icon"></i>
            <span class="small-text">Medals</span>
        </NavLink>
        <NavLink class="nav-link text-center" href="profile">
            <i class="fas fa-user icon"></i>
            <span class="small-text">Profile</span>
        </NavLink>
    </div>
</nav>

