.search-wrapper {
    margin: 0 auto;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #ccc;
    pointer-events: none;
    font-size: 1rem;
}

.search-input {
    padding-left: 2.5rem;
    height: 44px;
    border-radius: 0.5rem;
}