.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #FFA726;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map-section {
    height: 80vh;
    width: 100%;
    display: none; /* initially hidden */
}

.map-visible .map-section {
    display: block;
}

#map {
    height: 100%;
    width: 100%;
}

.controls {
    text-align: center;
    margin-top: 10px;
}

.swipe-hint {
    text-align: center;
    font-size: 1rem;
    color: #666;
    margin-top: 8px;
}

.bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30vh;
    background: #fff;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: translateY(70%);
    z-index: 1000;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}

    .bottom-sheet.expanded {
        transform: translateY(0);
        height: 100vh;
    }


.drag-handle {
    width: 50px;
    height: 5px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 10px auto;
}
.info-tile {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

