/* Profile Card */
.profile-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}

.avatar-overlay-container {
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: 2;
}

.profile-avatar-overlay {
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 4px solid #fff; 
}


/* Tabs */
.nav-tabs .nav-link {
    border: none;
    color: #6c757d;
    font-weight: 500;
    padding: 0.75rem 1.5rem; 
}

    .nav-tabs .nav-link.active {
        background-color: #0d6efd;
        color: #fff;
        border-radius: 0.5rem;
    }


/* Text tweaks */
.text-muted {
    color: #6c757d !important;
}

.level-info {
    font-size: 0.95rem;
}

@media screen and (max-width: 992px) {
    .avatar-overlay-container {
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 2;
    }
    /* Tabs */
    .nav-tabs .nav-link {
        border: none;
        color: #6c757d;
        font-weight: 300;
        padding: 0.45rem 1rem;
    }

        .nav-tabs .nav-link.active {
            background-color: #0d6efd;
            color: #fff;
            border-radius: 0.5rem;
        }
}