@page "/"
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<div class="container-full">
    <img class="img-fluid w-100 d-block home-image" src="images/running-woman.jpg" alt="Running woman" />
</div>

@code {

}
