@page "/"
@using StriveUp.Shared.Services
@inject IFormFactor FormFactor
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.

<button @onclick="ButtonClick"></button>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();

    private async Task ButtonClick()
    {
        Nav.NavigateTo("/login");
    }
}
