@page "/login"
@using StriveUp.Shared.DTOs
@using StriveUp.Shared.Interfaces
@inject NavigationManager Nav
@inject IAuthService AuthService

<div class="container w-100 m-auto">
    <div>
        <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h2 class="text-center fw-bolder">StriveUp</h2>
        <h5 class="text-center fw-bold">Login to your account</h5>
        <p class="text-center">Enter your email and password</p>
        <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
            <div class="form-floating">
                <InputText class="form-control col-12 col-md-6 mb-3" @bind-Value="loginModel.Username" placeholder="email@domain.com" />
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <InputText class="form-control col-12 col-md-6 mb-3" @bind-Value="loginModel.Password" type="password" placeholder="password" />
                <label for="floatingPassword">Password</label>
            </div>
            <button type="submit" class="btn btn-lg btn-warning rounded-3 col-12 col-md-6 mb-3">Log in</button>
        </EditForm>
    </div>

    <div class="text-center mb-2">
        <p class="text-muted">Dont have an account yet?</p>
        <a href="" @onclick="RegisterClick">Register here!</a>
    </div>

    <div>
        <p class="text-muted text-center mb-2">or</p>
    </div>


        <div class="row">
            <button class="btn btn-lg btn-warning rounded-3 col-12 col-md-6 mb-3">Continue with Google</button>
        </div>
        <div class="row">
            <button class="btn btn-lg btn-warning rounded-3 col-12 col-md-6 mb-3">Continue with apple</button>
        </div>

  
</div>

@code {
    private LoginRequest loginModel = new();

    private async Task HandleLogin()
    {
        var success = await AuthService.LoginAsync(loginModel);
        if (success)
            Nav.NavigateTo("/");
    }

    private void RegisterClick()
    {
        Nav.NavigateTo("/register");
    }
}
