@page "/register"
@using StriveUp.Shared.DTOs
@using StriveUp.Shared.Interfaces
@inject NavigationManager Nav
@inject IAuthService AuthService

<h3>Rejestracja</h3>

<EditForm Model="@registerModel" OnValidSubmit="HandleRegister">
    <InputText @bind-Value="registerModel.Username" placeholder="Nazwa użytkownika" />
    <InputText @bind-Value="registerModel.Email" placeholder="Email" />
    <InputText @bind-Value="registerModel.FirstName" placeholder="FirstName" />
    <InputText @bind-Value="registerModel.LastName" placeholder="LastName" />
    <InputText @bind-Value="registerModel.Password" type="password" placeholder="Hasło" />
    <button type="submit">Zarejestruj</button>
</EditForm>

@code {
    private RegisterRequest registerModel = new();

    private async Task HandleRegister()
    {
        var success = await AuthService.RegisterAsync(registerModel);
        if (success)
            Nav.NavigateTo("/");
    }
}
